.searchBox {
  width: 100%;
  max-width: 400px;
  text-align: center;

}

.searchBox input,
button {
  border: 1px solid gray;
  padding: 10px;
  background-color: lightgray;
  font-size: 16px;
  outline: none;
}

.searchBox input:focus {
  border:1px solid #FFE300;
}

.searchBox button:hover {
  background-color: rgb(158, 154, 154);
}

@media (min-width:768px) {
  .searchBox {
    width: calc(50%);
    text-align: center;
  }
}