.selectBox {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 30px;

}

.selectBox select{
    border: 1px solid gray;
    padding: 10px;
    background-color:lightgray;
    font-size: 16px;
}
.selectBox select:focus {
    border:1px solid #FFE300;
  }
@media (min-width:768px) {
    .selectBox {
        width: calc(50%);
        margin-bottom: 0px;

    }
}