.header {
    width: calc(100% - 30px);
    background-color: #333;
    color: #FFE300;
    padding:15px;
    border-bottom: 5px solid #FFE300;
}



.header h1 {
    color: #FFE300;
    font-size: 22px;
}